[2015-08-05 17:28] j-schwartz opened #1 "Video Quality Guide"
Video:
    Maximum Dimensions: 696x392 (under "Picture Settings", I actually set it to 700x392, but it comes out 696)
    x264 Constant Quality RF: 32 (slider on the main pane)
    x264 Preset: medium, Tune: none (dropdown on the main pane)
    H.264 Profile: baseline, Level: 3.0 (dropdown on the main pane)
    Fast Decode, Web Optimized (checkboxes on the main pane)
  Audio:
    AAC Mono 48kbps (

[2015-08-05 19:38] needlestack commented on #1
Purpose: these settings intentionally sacrifice some video/audio quality to achieve minimum file size and maximum playability on underpowered hardware, while still being reasonably legible and audible. They were chosen through my subjective testing using Khan Academy videos.

These settings will work best with Khan style videos (graphics with little movement) and will probably be too aggressive fo

[2015-08-05 19:47] j-schwartz opened #2 "Content Organization"
Is it possible to add header bars with index.php separating content underneath each of them along the following lines:

Positions 000 - 009 are for GENERAL REFERENCE MATERIAL eg. Wikipedia, Wikipedia for Schools

Positions 010 - 029 are for EDUCATIONAL LEARNING MATERIAlS eg. Khan Academy, ck12, MathExpression, OLPC Educational Packages, PhET, Understanding Algebra, UNESCO IICBA

Positions 030 - 04

[2015-08-05 19:57] j-schwartz opened #3 "Possible to have two index.htmlf files"
Is it possible to have two different formats of index.htmlf?  For instance, on RACHEL-Pi and WAMP where there is no "teacher section" the index.php page uses index.htmlf files to populate.  But for the new CAP where we have a teacher login that index.php page could use index.htmlg or something.  That way, we don't have to have two different content packs for the different devices, just a different

[2016-01-13 19:40] spatiald opened #5 "Modules fail to display after update to commit a007835"
## Background
Working commit: ```a007835```

Updated to commit: ```2e6f273```

## Problem
Modules fail to display that are in the correct folder and displayed prior to updating

## Temporary Solution for CAPs:
- Log in via ssh
- Run the following commands
[code]

[2016-01-13 23:04] bnordha commented on #5
resolved the problem for me

[2016-01-14 00:49] j-schwartz commented on #5
One note: for search to work on the rpi you need to run the following from the command line on
an internet-connected system:

      apt-get update
      apt-get install php5-sqlite

I'll see about getting this pre-installed on future versions of RACHEL.

Yeah, the pi is pretty neat. I was wondering how easy it is for you to add stuff to the build - the new modular search is going to rely on sqlite

[2016-01-14 00:59] j-schwartz commented on #5
Those comments were from various jfield notes... I can't get stem to install, but installing sqlite, manually navigating to my.content/admin.php; using login root/rachel ended up getting me up and running with his dynamic index page

[2016-03-09 21:54] needlestack opened #6 "update module download to use JSON API"
Module info is currently hardcoded in the scripts here (en_all.sh, en_justice.sh) - we should use the JSON API to centralize most of that info.

  http://dev.worldpossible.org/cgi/json_api_v1.pl

[2016-04-06 15:48] needlestack commented on #2
I think this has been superseded by the [rachelmods](http://dev.worldpossible.org/cgi/rachelmods.pl) approach - though that side of things needs some work too.

[2016-04-06 15:48] #2 closed

[2016-04-07 17:54] needlestack opened #7 "stats.cgi permission problems"
Need to have the installer change permissions on the apache log files so that stats.cgi can read them

[2016-04-07 17:54] needlestack commented on #7
This is now fixed on rachelpiOS, in installer.py - we need to also do this on the rachelplus

[2016-04-07 17:54] #7 closed

[2016-04-08 23:28] j-schwartz opened #8 "script to update all included modules"
it'd be great to have a script that first read which modules are in /var/www/modules and then, when ran, updated those modules against the master database

[2016-04-10 06:40] needlestack opened #9 "IP Address displayed in banner on RACHEL index.php"
_From @spatiald on July 17, 2015 15:55_

I think we should change the code this way:

ORIGINAL pulls the hostname IP which tends to return 127.0.1.1
[code]
This is because the code pulls the hostname IP from /etc/hosts:
[code]

PROPOSED
[code]
This is what the proposed solution looks like (caveat, I haven't tested in various IP scenarios yet...ie. connect to internet vs not connected to internet):

[2016-04-10 06:40] needlestack commented on #9
I support this change - it solves another problem I've seen a few times,
where in certain Windows configurations the function call is slow and
causes the page to hang for several seconds before rendering.

The labeling is good too, though perhaps "Address" would be better than
"IP"?

The only concern is that in Windows setups it might come up as "localhost"
for the address, which wouldn't work on

[2016-04-10 06:40] needlestack commented on #9
_From @j-schwartz on July 17, 2015 18:49_

I made this change in the contentshell: https://github.com/rachelproject/contentshell/blob/master/index.php

[2016-04-10 06:40] needlestack commented on #9
_From @spatiald on July 17, 2015 21:7_

Along with Jonathan’s IP -> Server comment, should probably remove the word “RACHEL” as the banner says it quite proudly?

So we are all tracking…here is the revised line modified:
<div align="right" id="ip"><b>Server Address</b> </br><? echo $_SERVER["SERVER_ADDR"]; ?></div>

[2016-04-10 06:40] needlestack commented on #9
Agreed

On Fri, Jul 17, 2015 at 2:07 PM, Sam Kinch <notifications@github.com> wrote:

[2016-04-10 06:40] needlestack commented on #9
_From @spatiald on July 24, 2015 0:53_

So the server address displayed on the main page is only the one the user puts in the address bar.  It isn't the eth0 address.  Is there a way for php or javascript to parse a file and display the contents?  If so, I have a script that will drop ip list (one per line) of the eth0 and wlan0 addresses.

[2016-04-10 06:40] needlestack commented on #9
_From @bnordha on July 24, 2015 0:55_

Isn’t it better that way?

I can think of scenarios where at the same location
*         One set of users access directly via Wi-Fi, and hence go to 10.10.10.10
*         While another set of users will access the content via the LAN, e.g. 192.168.1.15
Bernd

[2016-04-10 06:40] needlestack commented on #9
_From @spatiald on July 24, 2015 1:0_

My thought is that you would display both the eth0 and wlan0 IPs…just a thought.  The only concern I can think of is maybe the prison where you wouldn’t want to broadcast out your IP.

We changed it initially to make it easy to find out the eth0 IP and, if there was no IP on eth0, it would display 192.168.88.1 address.

[2016-04-10 06:40] needlestack commented on #9
_From @spatiald on August 27, 2015 18:48_

@j-schwartz Any thoughts on this issue in regards to my last comment on prisons?

[2016-04-10 06:40] needlestack commented on #9
_From @j-schwartz on August 27, 2015 18:55_

I agree with displaying both.  I don't think that's a problem for the
prisons (broadcasing a LAN IP).

On Thu, Aug 27, 2015 at 11:48 AM Sam Kinch <notifications@github.com> wrote:

[2016-04-10 06:40] needlestack commented on #9
_From @spatiald on August 27, 2015 19:1_

So right now, the IP displayed in the header is the IP the person is going to for RACHEL. My issue with that is that it is not really helpful.  I was hoping someone might know a way to display the current WIFI and WAN IPs (parsed via javascript or some other means)?  Web isn’t really my expertise. :)
/s

[2016-04-10 06:40] needlestack commented on #9
So the original method -- <?php echo gethostbyname(gethostname()); ?> --
seemed to get the LAN IP on Windows (my testing environment), but it seems
not to work on other systems (as well as sometimes being slow). Getting PHP
to parse a file shouldn't be a problem -- but perhaps it's better to parse
the output of something like `ifconfig` or `ipconfig` on Windows? In any
case it's going to have to b

[2016-04-10 06:40] needlestack commented on #9
Reviving old thread - I am reworking the RACHEL index page at the moment
and wanted to address this. I am going to make it use ifconfig (or ipconfig
on windows) to look up the IP address of the server. Seems to work reliably
for the ethernet address. I don't have a WiFi enabled PI so I don't know
how the wifi shows up - Sam, you mentioned wlan0 - is that always the name
of the interface? If so, I

[2016-04-10 06:40] needlestack commented on #9
_From @spatiald on November 24, 2015 4:51_

Yup - should be wlan0 on all the builds we are using (rasbian and ubuntu)

Yeah my OCD has always bothered me that it wasn't clean.

Thanks for working on that.  :)

Sam

On Mon, Nov 23, 2015 at 8:17 PM, Jonathan Field <notifications@github.com>
wrote:

[2016-04-10 06:40] needlestack commented on #9
_From @j-schwartz on March 3, 2016 2:10_

This issue should really be moved to contentshell

[2016-04-10 06:40] needlestack commented on #9
_From @richsegal on April 9, 2016 22:46_

Do we need the IP address at all?   It is only really only useful on localhost to help administrators direct networked users to the correct host.   Maybe it can be moved to the administration page?

I find it redundant and possible confusing to networked users who have already managed to type in the correct address to see the page in the first place.   For

[2016-04-10 06:40] needlestack commented on #9
_From @spatiald on April 9, 2016 23:37_

Now that we have an admin page, I think that would be a good idea.  Keeps
the initial menu clean, too.

[2016-04-10 06:40] needlestack commented on #9
Agreed

[2016-04-10 06:43] needlestack commented on #9
One thing to note - the original reason I put the IP address in was for RACHEL usb - UwAmp would open a browser window on launch pointed to RACHEL, but there was no easy way to see how other users could access the system (the browser addressbar would just say localhost). So the IP address was helpful there. When we get to redoing RACHEL usb, I'll figure out how to best deal with that case. For the

[2016-04-13 00:57] j-schwartz opened #10 "Prevent Kiwix from Booting any "hidden" modules"
That'd be cool...

[2016-04-15 21:51] spatiald opened #11 "Language selection on main page"
I know the main menu auto-changes based on browser language. What about a way to filter language modules on the main menu similar to the dev server? That might be beneficial for multi-language builds; users can limit the amount of unwanted modules.

[2016-04-15 21:51] spatiald opened #12 "Language selection on main page"
I know the main menu auto-changes based on browser language. What about a way to filter language modules on the main menu similar to the dev server? That might be beneficial for multi-language builds; users can limit the amount of unwanted modules.

[2016-04-17 22:30] spatiald opened #13 "Latest commit causes RACHEL-Plus front page loading errors"
## ERROR CAUSING COMMIT
4311aa46ba3adb255310a2f4baf051bb1dbb0e48

## PROBLEM
Main RACHEL web page doesn't load.  Error thrown in lighttpd error.log:
[code]

## WORK AROUND
Using last working commit of:
b5770d065af3dba36ae2565abbc939a27f034429

[2016-04-18 05:52] needlestack commented on #13
Ah, looks like an issue with PHP < 5.4 -- I've switched from $foo = []; syntax to $foo = array(); syntax - that should do the trick, though I don't have an older PHP around to test on. Re-open if you still have problems!

[2016-04-18 05:54] needlestack commented on #12
Dup of #11

[2016-04-18 05:54] #12 closed

[2016-04-18 05:59] needlestack commented on #5
It looks like sqlite is part of the rachelplus install now - is this resolved?

[2016-04-18 06:01] needlestack commented on #5
Also - it looks like the PHP stem module isn't there yet - that is required for the new self-contained search that we're using on some modules (and more in the future). I'll add that as an issue for rachelplus...

[2016-04-18 06:29] needlestack commented on #1
Moved this to module-template wiki:

  https://github.com/rachelproject/module-template/wiki

[2016-04-18 06:29] #1 closed

[2016-04-20 00:55] spatiald commented on #5
I haven't tested those changes yet...will get back to you

On Mon, Apr 18, 2016 at 2:01 AM, Jonathan Field <notifications@github.com>
wrote:

[2016-04-26 18:27] spatiald commented on #8
@j-schwartz You reference /var/www/modules...the enhancement needs to be cross-compatible and should check what type of device it is.  It might be a good idea for us to add a file to all the hardware we modify...this way, the contentshell scripts can parse that to determine where the appropriate files would be.

/etc/rachel-release (on a CAP)
[code]

/etc/rachel-release (on a Pi)
[code]

Also, I h

[2016-04-26 18:46] spatiald opened #15 "Menu groups"
Maybe it's time we allow folks to group modules under one heading within the RACHEL menu.

Group1
  Module1
  Module2
Group2
  Module3
  Module4
  ...

This feature would be accessible from the rachel main page admin menu.

[2016-04-26 18:48] spatiald opened #16 "Standardize default admin page login/pass for main page admin"
What about changing the default web page admin from root:rachel to root:Rachel+1 or admin:Rachel+1 so that it is more standardized for end-users?  That way end-users are not trying to figure what the password is initially.

[2016-04-26 18:49] j-schwartz commented on #16
I like admin / Rachel+1

On Tue, Apr 26, 2016 at 11:48 AM Sam Kinch <notifications@github.com> wrote:

[2016-04-26 18:50] j-schwartz commented on #15
Agree - particularly helpful for language sorting. French / modules 1,2,3
English / modules 1,2,3 etc

On Tue, Apr 26, 2016 at 11:46 AM Sam Kinch <notifications@github.com> wrote:

[2016-04-27 11:48] needlestack commented on #16
Agreed, changed. Should we change this on kalite too? We're currently using rachel/rachel for kalite on piOS...

[2016-04-27 11:48] #16 closed

[2016-04-27 11:51] needlestack commented on #15
So how would this work? Here's my first thought

# admin users can create arbitrary groups on the admin page
# admin users can drag and drop modules into those groups
# on the front page the group names are displayed as headings

Does this sound about like what you're thinking of?

[2016-04-27 11:56] needlestack commented on #11
Is this something we'd want to add to the admin page only, to set for all users? Or do you think it should be something that each user can do on a case-by-case basis? Should the selection persist for a user?

I think I'd lean towards the former (admin) approach, as users could leave different machines in different states and it might be confusing as many computers are shared. But I'm open to other

[2016-04-27 11:58] needlestack commented on #10
So I understand - is the idea here so that if you go to the kiwix library page - that it doesn't show anything hidden in the admin interface?

[2016-04-27 12:05] needlestack commented on #3
@spatiald - what's the best way to determine that we're running on the CAP? I can add a PHP flag so that the rachel-index.php file can selectively show this type of content.

But is it really a CAP thing? Or is that just one of the possible reasons to show this content? Should it just be a flag called $show_teacher and that gets populated by either a) being on a CAP or b) some other sets of circum

[2016-04-27 12:53] spatiald commented on #10
@needlestack That is my understanding.

On a similar topic, I looked at your kiwix start perl script.  I had some issues using it on the CAP (dependency errors I didn't want to follow down the rabbit hole).  I ported it to bash (yeah, I know...but the end result works).
[code]

I will add this to the CAP startup script and all should be good.  I like that all files stay in their module folders. Gr

[2016-04-27 12:56] spatiald commented on #15
@needlestack That sounds perfect.  My original example for doing this is in dual-language CAPs (something @j-schwartz mentioned as well).  What that really leads to and options I would like to see added with this:
- the ability to show and remove groups (by admins)
- the ability to collapse groups on the front page (by users)
-- also, the ability of admins to set the "default state of a group" (i.

[2016-04-27 13:04] spatiald commented on #11
My thought was that the main page would default to the admin set default language.

However, the users could change the default language by clicking a flag or clicking the language abbreviation on the front page.  The state would last for the duration of the browser session.  To me, that makes more sense for the users who will most likely be working on a community computer.

[2016-04-27 13:06] spatiald commented on #16
@needlestack Yes.  That will help with standardizing documentation.

[2016-04-27 13:23] spatiald commented on #3
@j-schwartz Can you explain the purpose in another way?  i don't think I follow the reasoning behind this.  Here is what I visualize you are saying:  the teacher section on the CAP is accessed via port 8090 and using the teacher login.  On the Pi, you don't have that luxury, so you password-protect the page using apache...is that correct?

@needlestack Currently, to identify a CAP, you could check

[2016-04-27 15:20] needlestack commented on #10
Huh, I'm surprised it gave you issues... it shouldn't have any dependencies beyond perl itself. Is there no perl on the CAP? Very cool bash work though :)

One thing: I notice that it doesn't default to a sample-library.xml like the other version. That's not critical, but without it you can't verify that kiwix is running unless there's a kiwix-based rachel module installed. I thought it was nice t

[2016-04-27 15:26] needlestack commented on #10
To answer your question: the info on what is hidden or not is in contentshell's admin.sqlite file - you can access it from the command line:

`sqlite3 /media/RACHEL/rachel/admin.sqlite 'select moddir from modules where hidden = 1'`

That should get you the module names that are hidden.

[2016-04-27 16:42] spatiald commented on #10
Yeah, our Kiwix install doesn't have a sample file.  I figured I would add
that in by pulling your file and then build it into future installs.  Is
the file up on the rachel server or otherwise available.  I did like the
idea of the sample file.

Sweet on the sqlite db...I'll update the script to check/remove those
modules that are selected as hidden.

On Wed, Apr 27, 2016 at 11:20 AM, Jonathan Fi

[2016-04-28 22:17] needlestack commented on #10
Ok, this ended up being a change to rachelpiOS, but it is all set in the current version.

@spatiald - one gotcha I ran into when the database doesn't exist yet (on initial startup) it's easy enough to ignore errors, but I found that just running `sqlite3 admin.sqlite` created the file, and with the wrong permisions! So you have to check if it exists first, and don't try looking in it if it isn't

[2016-04-28 22:17] #10 closed

[2016-04-29 18:18] spatiald commented on #13
## Another error, this time with lang.en.php
[code]
Same result - front page fails to load

## Solution
[code]
Then created a file called "/etc/php5/conf.d/stem.ini" and added the following:
[code]
Then i had to "fix" the lang.<lang>.php files changing the following line 14-17 from:
[code]
to
[code]
@needlestack Can you incorporate those changes to provide support for our older CAPs?

[2016-04-29 18:54] needlestack commented on #13
Sure - just changed it. That was an old file, but I'll try to keep this in mind for future code! I'll also sweep through the new search code for that syntax.

[2016-04-29 18:54] #13 closed

[2016-05-09 19:08] needlestack commented on #11
Alright - happy to announce that the latest version of contentshell has these language features! The logic goes as follows:

1. If the user has selected a language in the options (at the bottom right of the front page) it will use that language for the session regardless of any other settings.

2. If the user has not selected anything, but a language has been set on the admin page, it will use tha

[2016-05-09 19:40] spatiald commented on #11
Very nice...thanks!

On May 9, 2016, at 15:08, Jonathan Field <notifications@github.com> wrote:

Alright - happy to announce that the latest version of contentshell has
these language features! The logic goes as follows:

   1.

   If the user has selected a language in the options (at the bottom right
   of the front page) it will use that language for the session regardless of
   any other setti

[2016-05-09 20:02] needlestack commented on #11
Ok, just looking at this again and it seems the work I was doing actually doesn't address the original request - sorry! I'll work on this next, but what I just did was make the menu language settable on the admin page with an optional user override.

[2016-05-10 16:24] needlestack commented on #11
So this is embarrassing: I completely misunderstood this request and built a set of features that I'm guessing are not needed at all! That's what I get for trying to move quickly when I'm not paying close enough attention!

Alright: forget everything I said about the language feature above. I'm going to take it back out as I think it will be terribly confusing if combined with the feature you're a

[2016-05-10 16:55] needlestack commented on #9
Done. We'll see how we want to handle Windws/USB versions of RACHEL when we get to building a new version of that.

[2016-05-10 16:55] #9 closed

[2016-05-10 16:57] needlestack commented on #5
Sounds like this is all worked out from your latest emails - want to close it?

[2016-05-11 20:37] needlestack opened #17 "version.php error"
Notice:  Undefined offset: 0 in /media/RACHEL/rachel/version.php on line 36

When run on a cap, the regex returns nothing - detect and do something smarter.

[2016-05-11 20:38] needlestack opened #18 "Rewrite admin.php login/logout"
basic-auth doesn't cut it - we get strange behavior when logging out, including an admin page that can't write to the sqlite file. Redo with a proper cookie-based approach.

[2016-05-11 23:59] needlestack commented on #18
New system in place - should work more reliably and intuitively.

[2016-05-11 23:59] #18 closed

[2016-05-12 13:31] spatiald commented on #5
Working with latest configure script...had to install some packages to support the changes; in particular, PHP-pear, gcc-multilib, and sqlite3

[2016-05-12 13:31] #5 closed

[2016-07-01 01:15] needlestack opened #19 "add "clear logs" button on stats.php"
After building and testing, it would be nice to be able to clear the logs from stats.cgi instead of needing to go to the command line

[2016-07-01 01:47] needlestack opened #20 "kiwix restart when hiding/showing modules"
The admin interface needs to restart kiwix (using the rachel version that rebuilds the library) when modules are shown or hidden, otherwise they won't show up until reboot.

On CAP: `/root/rachel-scripts/rachelKiwixStart.sh`
On RPi: `/var/kiwix/bin/rachel-kiwix-start.pl`

[2016-07-03 06:08] spatiald opened #21 "Captive portal redirect on RACHEL-Plus not working"
@needlestack The captiveportal-redirect.php was originally written for the CAP.  I was testing some updates last night and can not get the lasted update you posted to the content to work.

Additionally, the captiveportal-redirect.php file is also part of the USB Recovery shell for the CAP.

[2016-07-03 09:12] needlestack commented on #21
Whoops! I pushed that in before it was ready. Just now pushed a working version. Basically the big change was to make it multi-lingual as we got feedback that the page was confusing for Spanish speakers. Where there other issues with contentshell? Or just the bad captiveportal-redirect.php page?

I'm not sure where it should live - the multi-lingual version will have an easier time in contentshell

[2016-07-03 12:53] spatiald commented on #21
I am okay adding it to the content shell but you have to add two additional
files to the web root for CAP redirection to function:
pass_ticket.shtml
redirect.shtml

Both of these are used by lighttd to track if a user has already
redirected.  There might be better way to do this on the CAP.  You can see
the redirection code in /usr/local/etc/lighttpd.conf

[2016-07-03 18:36] needlestack commented on #21
Can you give me a brief overview of the intended behavior? I've just started looking into how this would work on the RPi, and I'd love to understand how you've addressed it. I see the code, but I'm not sure how it fits together from the perspective of the user...

[2016-07-09 19:53] spatiald commented on #21
The original code was written and default part of the CAP.  It took awhile
to fully understand and I probably don't fully understand it now but I
re-wrote some of it to cater to RACHEL.  For instance, instead of going to
the local content portal (which was default CAP), it goes to the page with
our logos.  There was a thought of removing the captive portal but I think
it does a good job at present

[2016-07-11 16:59] needlestack commented on #21
Thanks so much for this explanation! I imagine that would have taken me a very long time to figure out :) There are some times the captive portal thing confuses users, so I am trying to understand the UI flow, and this helps a lot.

[2016-07-11 16:59] #21 closed

[2016-07-21 15:35] spatiald opened #22 "Add disk space display to admin page"
Helpful when user wants to upload content and they don't know how much room they have left.  It would be useful to display a "Disk Space" tab before? the "Stats" tab that shows a graphical bar for each disk (like Windows Disk Management).  Something like this (with colors and Jonathan's style):

*This is CAP example but something similar could be done for the Pi*

### Admin Partition (preloaded)
-

[2016-07-21 15:49] needlestack commented on #22
This is a great idea - and fits right in to what I'm doing at the moment :)

[2016-09-21 19:49] needlestack commented on #17
This appears to have been fixed a while ago.

[2016-09-21 19:49] #17 closed

[2016-10-11 19:40] needlestack commented on #22
Included in v2.0.0

[2016-10-11 19:40] #22 closed

[2016-10-11 20:00] needlestack commented on #20
Included in v2.0.0

NOTE: you must use the updated scripts -- the required changes have been made in both rachelpios and rachelplus repositories.

[2016-10-11 20:00] #20 closed

[2016-10-13 02:04] needlestack opened #25 "add wifi control to admin panel"
From @spatiald

[2016-10-13 02:05] needlestack commented on #25
Added - though it currently does not persist through a reboot (i.e. it always boots up "on"). Add a new request if we want to add an option to persist.

[2016-10-13 02:05] #25 closed

[2016-10-22 03:10] needlestack opened #26 "Battery Status on RACHEL Plus"
From @spatiald:

[2016-10-22 03:12] needlestack opened #27 "option to disable wifi on boot"
for RACHEL Plus, from @spatiald

`if (isset($_GET['wifi']))
    if ($_GET['wifi'] == "on") {
        echo "Turning WIFI ON... ";
        exec("/etc/WiFi_Setting.sh");
        exec("/bin/rm /root/rachel-scripts/disable_wifi");
    } else if ($_GET['wifi'] == "off") {
        echo "Turning WIFI OFF... ";
        exec("/sbin/ifconfig wlan0 down");
        exec("/bin/echo 'Wifi disabled.  Delete this

[2016-10-22 23:45] spatiald opened #28 "Captive Portal not working with Apple devices"
### Background
NOT WORKING - OSX 10.11.6
WORKING - Windows 10
NOT TESTED - Debian

### Problem
On OSX, logging onto the RACHEL AP doesn't spawn a working captive portal page nor does it redirect when you try to surf to site (the latter usually happens if no traffic triggered the original popup).

### Logs
#### OSX connnection
It spawns this captive portal box:
![image](https://cloud.githubusercont

[2016-10-23 18:05] needlestack commented on #28
Just fixed the Win 10 error -- will look into the mac problem

[2016-10-23 23:43] needlestack commented on #8
Well we're not there yet - but I did just add the ability to update contentshell itself, which is a start. Going forward people can go to the "version" page, check if there's a new contentshell, and update if there is.

I've done some work done on module updating, but it's not ready for prime time yet.

Also: I've decided to go with semantic tags (v2.1.0, for example) and I've cleaned up the tags/

[2016-10-24 04:29] needlestack commented on #28
So it looks like this is working in the latest Mac OS (Sierra). I don't have a device with an older version to test with. Can you replicate it? I have some things you could try...

[2016-10-26 15:45] spatiald commented on #8
Yup, semantic tags are fine with me.

On Oct 23, 2016, at 19:43, Jonathan Field <notifications@github.com> wrote:

Well we're not there yet - but I did just add the ability to update
contentshell itself, which is a start. Going forward people can go to the
"version" page, check if there's a new contentshell, and update if there is.

I've done some work done on module updating, but it's not ready f

[2016-10-27 02:10] spatiald commented on #28
Working on OSX 10.10.5 (Yosemite)

Not Working on OSX 10.11.6 (El Capitan) - let's put a hold on this issue while I test some more stuff on my own system.  Maybe a laptop issue.

[2016-11-29 21:30] needlestack commented on #8
Ok, this is released as v2.2.0. Updates are under the "version" tab, and you can install and delete modules under the "install" tab. Let me know what you experience!

[2016-11-29 21:30] #8 closed

[2016-11-29 21:33] needlestack commented on #6
We now use the JSON api for browser based install/update. We decided not to use the JSON api for initial install, and instead created a new .modules file format in the contentshell/scripts directory that is an improvement over the shell scripts we were using.

[2016-11-29 21:33] #6 closed

[2016-12-04 00:42] needlestack commented on #26
This is added to the latest commit. Not part of a release yet, I'm going to add a few more tweaks before I do 2.2.2 :)

[2016-12-04 00:42] #26 closed

[2016-12-05 15:50] j-schwartz commented on #3
we have the new sorting tools

[2016-12-05 15:50] #3 closed

[2016-12-05 21:05] needlestack commented on #19
added in v2.2.2. not totally sure this is a great idea, since it requires killing/restarting lighttpd, but it works and it's something to mitigate endlessly growing logs. What we really need is a legit log solution... new issue coming

[2016-12-05 21:05] #19 closed

[2016-12-05 21:08] needlestack opened #29 "Log/Stats Solution"
We need a comprehensive logging & stats solution. It should take into account the following:

# log growth - they need to be rotated
# real log analysis - maybe something like http://www.awstats.org/
# logging of kiwix & kalite - is port forwarding too expensive?

People also like to have a downloadable, readable version - does awstats provide that?

[2016-12-06 10:45] spatiald opened #30 "v2.2.2 troubleshooting...maybe it is OSX?"
OSX 10.11.6

System Sofware
Hardware	i686
OS	Ubuntu precise (12.04.3 LTS)
RACHEL Installer	1-2-16_9.1.1 *  (pre-Release
KA Lite	0.16.9 *
Kiwix	0.9 *
Content Shell	v2.2.2

@needlestack  I glanced at my admin page this morning and there were a few gui "issues" I noticed:

- Battery status listed but doesn't show and screen size didn't adjust for it.
![image](https://cloud.githubusercontent.com/asset

[2016-12-06 11:12] needlestack commented on #30
Interesting. It's pretty well tested and working on the RACHEL-Plus as a fresh install. One thing I know is that the css file is cached for a while by the browser, so you have to shift-reload in chrome to get it to pick up a few of the UI tweaks right after you update. But that shouldn't break functionality.

I didn't test the battery functionality on OSX, and indeed it shouldn't show up at all. D

[2016-12-06 11:16] needlestack commented on #30
Oh actually - are you running contentshell on OSX (which I do sometimes) or running it on a RACHEL-Plus and just browsing it from OSX? If it's the latter, then my guess is definitely wrong.

In any case: whatever system you're running it on, a look at the error log would be helpful.

[2016-12-06 11:55] spatiald commented on #30
FYI...all the feedback I provide is with the contentshell running from the CAP.

Looks like it needed to be rebooted after applying the update to v2.2.2 - I can now see the battery level and the screen adjusted as expected.  Thanks!

As for the install/updates, I am on the road with the CAP.  Give me a day to test further.  I saw the update and was excited to incorporate it into 9.1.1.

If you wan

[2016-12-06 12:00] needlestack commented on #30
You know what I failed to consider: lighttpd should be restarted when php code changes -- the FastCGI wrapper caches scripts sometimes. That may have not showed up in my testing depending on what versions I was updating from and how caching was happening.

I will look into adding this into the next release.

[2016-12-06 18:41] needlestack opened #31 "regression - language sorting/hiding buttons missing"
Typo in `/media/RACHEL/rachel/admin/js/modules.js` can be fixed with the following line:

`perl -pi -e 's/sourtable/sortable/' /media/RACHEL/rachel/admin/js/modules.js`

[2016-12-06 19:00] needlestack opened #32 "different admin users / permissions"
requested by Jeffrey Wise:

A system where you can create additional admin users who will have permission to different tabs in the admin panel.

[2016-12-27 20:59] spatiald opened #33 "Add ESP ID to admin interface"
Security is a must on these ideas.

Potential ESP enhancements:
- add the ESP ID to one of the tabs (maybe Hardware?)
- if possible, add the ability to change the ESP IP
- if possible, add the ability to add/update an ESP note

[2017-01-04 17:04] j-schwartz opened #34 "Add Download Options for Gutenberg Books"
A user reports back they would like to read Gutenberg books on tablets offline / disconnected from RACHEL, but unlike African Storybooks, Gutenberg books cannot get downloaded to a tablet

[2017-01-31 19:59] needlestack commented on #34
African Storybooks is PDF, and as it stands Gutenberg only releases HTML and epub - and then we only include their HTML. I would have to check whether epub downloads to tablets - if so we could update the Gutenberg module to include those. Or switch to the kiwix-based Gutenberg module which isn't as pretty but includes epub...

[2017-01-31 20:01] needlestack opened #35 "Truly hide "hidden" modules"
Contentshell should move "hidden" modules outside the document root so that hidden content can't be bookmarked or otherwise explored.

[2017-02-27 21:28] j-schwartz opened #36 "Modules Missing from Install Using full.modules"
I added a number of modules to the full.modules file, when using:

those modules still don't get included (namely algebra2go, boundless)

[2017-02-28 08:19] needlestack commented on #36
Did you add them to the full.modules file on the cap or the one on github?
It needs to be the former for now - until our contentshell versions are in
sync...

On Mon, Feb 27, 2017 at 11:28 PM Jeremy Schwartz <notifications@github.com>
wrote:

--
Jonathan Field
jfield@worldpossible.org

[2017-02-28 20:36] j-schwartz commented on #36
I did not add it to the CAP, was just using Github so that makes sense.  I can't get the hardware shutdown button to work on CAP2.0 in the admin panel (I also might suggest that becomes its own tab after logout)

[2017-03-01 07:01] #31 closed

[2017-07-18 18:52] j-schwartz opened #37 "Storage Usage Not Updating After Module Removal"
I have two devices, which I removed a bunch of modules from.  One device dropped down to 254GB used, the other is stuck at 399GB used, despite the removal of the same modules.  The affected device is A4AF85.  I can leave online if you want.

[2017-07-18 21:04] needlestack commented on #37
Yeah, let me take a look. Can I see the one that dropped to 254GB as well so I can compare?

[2017-07-18 21:09] needlestack commented on #37
Ah, ok. I guess I just mainly wanted to know which modules you deleted so I can see if they got completely removed...

[2017-07-18 21:11] j-schwartz commented on #37
everything from en-hesperian_health down on the install.php page.

[2017-07-18 21:12] j-schwartz commented on #37
though I just now realized, it obviously wasn't removed because I can see them again!

[2017-07-18 21:12] j-schwartz commented on #37
I feel like it gets hung on en-worldmap_10

[2017-07-18 21:17] j-schwartz commented on #37
Ignore this, working now.

[2017-07-18 21:17] needlestack commented on #37
Yeah, removing that will take a very long time - there's 1.3 million files in there. I don't see why it wouldn't work eventually though. Is it possible it was just taking a very long time?

[2017-07-18 21:18] j-schwartz commented on #37
Yes, I'm sure that was it.

[2017-07-18 21:18] needlestack commented on #37
You know, worldmap might be a good candidate to repackage as a zim file like we do with en-wikihow... it'll just be one big file then, and a bit easier to work with.

[2017-07-18 21:18] #37 closed

[2017-07-18 21:19] needlestack commented on #37
Oh, but it can't - kiwix doesn't support scripts and that relies on some php scripts...

[2017-09-08 16:12] j-schwartz opened #38 "Default Sort for Modules"
Sometimes the install doesn't sort the modules at the end, I'd like to add an option for a default sort based on the modules file we used to do the install

[2017-09-08 16:12] j-schwartz opened #39 "KA-Lite Subtitles Missing"
Not seeing any subtitles actually show up for KA-Lite videos anymore

[2017-09-08 16:16] j-schwartz commented on #38
This is what I see on a failed modules sort, "retry" results in the same.  Would still like a dedicated button to resort this on the modules page.

![image](https://user-images.githubusercontent.com/9270388/30220979-73e72e8c-9476-11e7-91ed-2bc0a67bfa8b.png)

[2017-09-08 20:35] mattneel commented on #39
Which version of KA-Lite is running? What browser (and version) are you using?

[2017-12-15 16:41] pg-fred commented on #35
A simple, reversible way to do this under linux (which we use for blacklisting inappropriate content) is to chmod 000 the modules directory.  Then to reverse it, you would chmod 755.  This would assume that you successfully chown -R www-data:www-data all of the installed module directories since it would be www-data doing the chmod.  It also assumes you are looking to hide versus delete / archive.

[2018-05-15 13:11] nkyordy opened #42 "Fair Shake content missing"
I get a 404 on nearly every link in /modules/en-fairshake/content/. I removed the module and rsync'd it again with no change.

[2018-05-15 17:27] nkyordy commented on #42
It's our own server, Ubuntu 18.04. I cloned the content shell and imported the modules manually (using rsync).

[2018-05-15 17:30] j-schwartz commented on #42
Got it, so all the other modules are working correctly, right? Fair shake,
if I recall was a very complicated module to get offline. I believe we had
to install Wordpress on our Ubuntu servers also and we don’t necessarily
have that in the scripts anywhere. I can ask around if anyone remembers the
solution but no promises on that one.
On Tue, May 15, 2018 at 10:27 AM Nick <notifications@github.com

[2018-05-15 17:33] nkyordy commented on #42
Yes, from what I've seen, all of the other modules are working great. Thank you for looking into it.

[2018-05-15 17:34] j-schwartz commented on #42
Thanks, and do you have KA-Lite installed and working as well as Kiwix
packages? There's also a script in there to "censorjustice.sh" which should
remove objectionable content in some of those packages (if you're using in
a prison facility)

On Tue, May 15, 2018 at 10:33 AM Nick <notifications@github.com> wrote:

--
mobile +1(310)988-9600

[2019-02-12 03:13] richsegal opened #44 "Kolibri finish_install.sh assumes the KOLIBRI_USER is root"
I figured this was the best place to report module bugs as they do not have a repository of their own.  Please let me know if there is a better place to report this bug.

The Kolibri modules have a finish_install.sh script that gets run after downloading the module.   This script in turn calls the establish_content_symlinks.sh script.  Both of these scripts assume that Kolibri is installed as root

[2019-02-12 03:23] richsegal opened #45 "Broken links on Kolibri index"
I figured this was the best place to report module bugs as they do not have a repository of their own. Please let me know if there is a better place to report this bug.

The Kolibri index module provides links at the bottom of its tile to jump to the Kolibri create account page and Kolibri login page.   Both links do not work due to the use of an incorrect syntax for embedding PHP variables in str

[2019-02-13 18:40] richsegal commented on #44
I put together a fix for the above issue.   Please add the following lines to the top of finish_install.sh:

[code]

then replace the line:

[code]
with:
[code]

Finally, in establish_content_symlinks.py, replace the line:
[code]
with:
[code]

You may also want to update the comments in establish_content_symlinks.py to refer to kolibri_home rather than /root/.kolibri.

[2019-02-13 20:17] richsegal commented on #44
One more thought.  The above fix is based on the current version of Kolibri.  The current Kolibri scripts have a bug that sets the value of KOLIBRI_HOME incorrectly.  I have submitted a bug report and hopefully the issue will be addressed in a future release.

The above code is designed to work correctly until LEF fixes this bug by calculating the value of KOLIBRI_HOME from KOLIBRI_USER.  Once Kol

[2019-03-13 09:44] gtmad opened #46 "Configurations Issue while copy rachel into ubuntu server"
I have downloaded zip file of RACHEL and RACHEL-PLUS how can I configure it with my ubuntu server.